@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 223.5 83.8% 32.2%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 220 13% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 223.5 83.8% 32.2%;
    --chart-1: 223.5 83.8% 32.2%;
    --chart-2: 210 29% 24%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 13, 48, 153;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 223.5 83.8% 32.2%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 220 13% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 223.5 83.8% 32.2%;
    --chart-1: 223.5 83.8% 32.2%;
    --chart-2: 210 29% 24%;

    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 13, 48, 153;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  }
}
